<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: cadetblue;
      }
      .center {
        text-align: center;
        margin: auto;
        width: 70%;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="center">
      <h3>Hi Deepanshu, you have Successfully created EC2 instance</h3>
      <a href="/show" class="link-danger">Click Here to view instances</a>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
